@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
*   {
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
body {
      font-family: sans-serif;
      background: #fffffa;
}
body::-webkit-scrollbar {
    width: 8px;               
  }
  
  body::-webkit-scrollbar-track {
    background:#ffffff05;  
    height: 1px;      
  }
  
  body::-webkit-scrollbar-thumb {
    background: rgb(198,198,198);
    background: linear-gradient(204deg, rgba(198,198,198,1) 20%, rgba(173,173,173,1) 80%); 
    border-radius: 20px;
  }

.navbar {
    color: #594545;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    background: #F7F5EB;
    box-shadow: 0 1px 18px 1px #ccc;
    position: fixed;
    z-index: 999;
    top: 0;
   

}
.navbar h1 {

    font-family: 'Alkatra', cursive;
    font-size: 2.5rem;
    padding-left: 42%;
    text-align: center;
}
.navbar img {
    width:30px;
    height:30px;
}
.github {
    display: flex; 
    justify-content: flex-end;
    
}

.navbar svg {
    height: 2rem;
    width: 2rem;
    color: #272323;
}
.container {
    width: 80%;
    margin: 75px auto;
    font-family: 'Poppins', sans-serif;
    background: #fffffa;
}
.discription {
 width: 80%;
 color: #000;
 padding: 15px;
 font-size: 18px;
 margin: auto;

}
.data-container{
 width: 100%;

}
.data-row {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}
.data {
    width: 32%;
    height: 170px;
    gap: 3px;
    margin: 4px 0px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 1px 5px 0px #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    
}

  .data-row:nth-child(even) .data:nth-child(even),
  .data-row:nth-child(odd) .data:nth-child(odd) {
    background-color: #d1ecee;
  }
  
  .data-row:nth-child(even) .data:nth-child(odd),
  .data-row:nth-child(odd) .data:nth-child(even) {
    background-color: #f8daea;
  }
  

  .mag {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  .info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

  }

  footer {
    width: 98%;
    margin: 30px 0px 0px 10px;
    font-size: 16px;
    background: rgba(233, 233, 233, 0.3);
    border-radius: 5px;
    padding: 5px;

  }
  footer a {
    color: #000;
  }

  @media  screen and (max-width:980px){
    .data-row {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
       }
       .data {
        width: 95%;
        margin: 5px auto;
       }
       .discription {
        width: 100%;
        font-size: 13px;
       }
       .navbar h1 {
        padding-left: 35%;
       }
       footer {
        width: 95%;
        font-size: 14px;
       }
    }
    @media  screen and (max-width:600px){
        .navbar h1 {
            padding-left: 19%;
           }
    }
